<%= stylesheet_link_tag "new_user.css" %>

<div class="back-btn">
    <%= link_to '<-Back', users_path %>
</div>


<div class="bg-light">
    <div class="container">
        <div class="form-box shadow-lg">
            <%= form_for @user, html: { class: 'form-control d-flex justify-center' } do |f| %>

                <h1 class="text-dark">Registration Form</h1>
                    <%= render "shared/form", f: f %>
            <div>
                <%= f.submit "Register", class:"btn btn-outline-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>